.jumb{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 30px !important;
}

.jumbbackground{
    width: 50%;
    height: 100%;
    position: absolute;
    top: -5%;
    left: 10px;
    animation: scrolltotop 1s  linear ;
  }

.jumbtext{
    font-weight: bolder;
    font-size: 160%;
    position: absolute;
    top: 10%;
    right: 10%;
    max-width: 500px;
    animation: scrollleft 1s .5s forwards linear ;
}

.jumboverlay{
    background: limegreen;
    width: 80%;
    height: 100%;
    position: absolute;
    top:0;
    opacity: 0.5;
    z-index: 1;
}

@media screen and (max-width: 800px){
    .jumb{
        width: 100%;
        height: 20vh;
        /* margin-top: 15px !important;
        margin-bottom: 3px !important; */
    }

    .jumbtext{
        font-weight: bolder;
        font-size: 60%;
        position: absolute;
        top: 10%;
        right: 0;
        max-width: 50%;
    }
  }

  @keyframes scrolltotop {
      from { 
          /* transform: translateY(80%); */
          transform: scale(2.5);
      }
      to {
          /* transform: translateY(0); */
          transform: scale(1);
      }
  }

  @keyframes scrollleft {
    from { 
        /* transform: translateX(80%); */
        transform: rotate3d(0, 1, 0.5, 3.142rad);
    }
    to {
        /* transform: translateX(0); */
        /* transform: rotate(0deg); */
        transform: rotate3d(0);
    }
}