.jumb{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 3% !important;
}

.jumbbackground{
    width: 50%;
    height: 100%;
    position: absolute;
    top: -5%;
    left: 10px;
    animation: scrolltotop 1s 5s infinite linear ;
}

.jumbtext{
    font-weight: bolder;
    font-size: 110%;
    position: absolute;
    top: 10%;
    right: 10%;
    animation: scrollleft 1s 5s infinite linear ;
}

.jumboverlay{
    background: limegreen;
    width: 80%;
    height: 100%;
    position: absolute;
    top:0;
    opacity: 0.5;
    z-index: 1;
}

@media screen and (max-width: 800px){
    .jumb{
        width: 100%;
        height: 40vh;
    }

    .jumbtext{
        font-weight: bolder;
        font-size: 110%;
        position: absolute;
        top: 10%;
        right: 0;
        max-width: 50%;
    }
  }

  @keyframes scrolltotop {
      from { 
          transform: translateY(80%);
      }
      to {
          transform: translateY(0);
      }
  }

  @keyframes scrollleft {
    from { 
        transform: translateX(80%);
    }
    to {
        transform: translateX(0);
    }
}